:root {
  --main-color: #e8e8e8;
}

.project-card {
  display: grid;
  grid-template-columns: 92% 8%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info but-demo" "info but-code";
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.project-card a {
  text-decoration: none;
}

.but {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.demo {
  grid-area: "but-demo";
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.but-demo {
  transform: rotate(-90deg);
}

.code {
  grid-area: 2 / 2 / 3 / 3;
  border-left: 2px solid var(--main-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-code {
  transform: rotate(-90deg);
}

.project-info {
  grid-area: 1 / 1 / 3 / 2;
  padding: 1em 1.5em 1em 1.2em;
  color: var(--main-color);
}

.project-title {
  margin: 0;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.abstract {
  margin: 0;
  padding: 0.8em 0 0.9em;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

.tags-section {
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.tags-section .tag {
  border: solid;
  border-width: 1.5px;
  border-radius: 100px;
  padding: 0.3em 1em;
}
