:root {
  --disbable-color: #e8e8e860;
}

.project-card {
  display: grid;
  grid-template-columns: 92% 8%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info but" "info but";
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.project-card a {
  text-decoration: none;
}

.active:hover {
  transition: 0.3s;
  font-size: 0.9rem;
  cursor: pointer;
}

.disable {
  color: var(--disbable-color);
}

.but span {
  display: inline-block;
  transform: rotate(-90deg);
}

.buttons {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons > * {
  flex-basis: 100%;
}

.but-demo {
  border-bottom: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
}

.but-code {
  border-left: 2px solid var(--main-color);
}

.card-info {
  grid-area: 1 / 1 / 3 / 2;
  padding: 1em 1.5em 1em 1.2em;
  color: var(--main-color);
  cursor: pointer;
}

.project-title {
  margin: 0;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.abstract {
  margin: 0;
  padding: 0.8em 0 0.9em;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

.tags-section {
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.tags-section .tag {
  border: solid;
  border-width: 1.5px;
  border-radius: 100px;
  padding: 0.3em 1em;
}

@media only screen and (max-width: 281px) {
  .project-card {
    grid-template-columns: 90% 10%;
  }

  .but {
    font-size: 0.5rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .abstract {
    font-size: 0.7rem;
  }

  .tags-section {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 281px) and (max-width: 320px) {
  .project-card {
    grid-template-columns: 90% 10%;
  }

  .but {
    font-size: 0.6rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .abstract {
    font-size: 0.7rem;
  }

  .tags-section {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 412px) {
  .project-card {
    grid-template-columns: 90% 10%;
  }

  .but {
    font-size: 0.7rem;
  }

  .project-title {
    font-size: 1.1rem;
  }

  .abstract {
    font-size: 0.8rem;
  }

  .tags-section {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .but {
    font-size: 0.85rem;
  }

  .project-title {
    font-size: 1.3rem;
  }

  .abstract {
    font-size: 1rem;
  }

  .tags-section {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 2000px) {
  .project-card {
    border: 3px solid var(--main-color);
  }

  .but {
    font-size: 1.2rem;
  }

  .but-demo {
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
  }

  .but-code {
    border-left: 3px solid var(--main-color);
  }

  .project-title {
    font-size: 1.6rem;
  }

  .abstract {
    font-size: 1.3rem;
  }

  .tags-section {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 3000px) {
  .project-card {
    border: 3.5px solid var(--main-color);
    border-radius: 15px;
  }

  .card-info {
    padding: 2em;
  }

  .but {
    font-size: 1.6rem;
  }

  .but-demo {
    border-bottom: 3.5px solid var(--main-color);
    border-left: 3.5px solid var(--main-color);
  }

  .but-code {
    border-left: 3.5px solid var(--main-color);
  }

  .project-title {
    font-size: 2.2rem;
  }

  .abstract {
    font-size: 1.6rem;
  }

  .tags-section {
    font-size: 1.6rem;
  }
}
