/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.projects-view {
  margin: 0 0 0 1.5em;
  padding-right: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.projects-title {
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
  padding-left: 1em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .projects-title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 2000px) {
  .projects-title {
    font-size: 1.8rem;
  }

  .projects-view {
    margin-left: 2.2em;
    padding-right: 2.2em;
  }

  .projects-container {
    gap: 2em;
  }
}

@media only screen and (min-width: 3000px) {
  .projects-title {
    font-size: 2.4rem;
  }

  .projects-view {
    margin-left: 2.2em;
    padding-right: 2.2em;
  }

  .projects-container {
    gap: 2em;
  }
}
