.rotate-pie {
  transform-origin: 50% 0;
  transform-box: fill-box;
}

.main-draw {
  display: block;
  width: 100%;
  height: 14em;
  fill: none;
  stroke: #c7e9ff;
  text-align: center;
  align-items: flex-start;
}

.presentation {
  margin: 0;
  padding: 1em 2em;
  text-align: center;
  color: var(--main-color);
  font-size: 1rem;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
}

.but-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk-but-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desk-but {
  font-size: 1rem;
  border-top: solid 1px;
  cursor: pointer;
  padding: 0.5em 0;
  font-weight: 600;
  width: 100%;
}

.desk-but a {
  text-decoration: none;
  flex-grow: 1;
}

#resume-but {
  border-bottom: solid 1px;
}

.projects-but {
  width: auto;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  text-align: center;
  border: solid 2px;
  border-radius: 5px;
  cursor: pointer;
}

.projects-but:hover {
  color: var(--backg-color);
  background-color: var(--main-color);
}

@media only screen and (max-width: 320px) {
  .presentation {
    font-size: 0.8rem;
    line-height: 1.4em;
  }
}

@media only screen and (min-width: 375px) {
  .presentation {
    font-size: 1rem;
    line-height: 1.4em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .presentation {
    font-size: 1.3rem;
    line-height: 1.4em;
    padding: 0 1.2em;
  }

  .desk-but {
    font-size: 1.3rem;
    padding: 0.6em 0;
  }
}

@media only screen and (min-width: 2000px) {
  .main-draw {
    height: 20em;
  }

  .presentation {
    font-size: 1.7rem;
    line-height: 1.4em;
    padding: 0 1em;
  }

  .desk-but {
    font-size: 1.7rem;
    padding: 0.6em 0;
  }
}

@media only screen and (min-width: 3000px) {
  .main-draw {
    height: 25em;
  }

  .presentation {
    font-size: 2rem;
    line-height: 1.4em;
    padding: 0 1em;
  }

  .desk-but {
    font-size: 2rem;
    padding: 0.6em 0;
  }
}
