:root {
  --project-title-size: 1.2rem;
  --project-desc-size: 0.8rem;
}

.information {
  display: flex;
  flex-direction: column;
}

.ret-but-cont {
  display: flex;
  margin: 1em 0 1em 3em;
}

.return-but {
  padding-top: 0.2em;
  border: solid;
  border-width: 2px;
  border-radius: 100px;
  flex-basis: 3em;
  height: 3em;
  cursor: pointer;
  text-align: center;
}

.project-img {
  width: 100%;
  margin-bottom: 1em;
}

.title {
  color: var(--main-color);
  text-align: center;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--project-title-size);
}

.subtitle {
  color: var(--main-color);
  text-align: center;
  font-family: "Nunito Sans", "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--project-title-size);
}

.description {
  color: var(--main-color);
  text-align: justify;
  font-family: "Roboto", "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: var(--project-desc-size);
  padding: 1em 3em;
}

.tags-project {
  justify-content: center;
  font-size: 0.7rem;
  color: var(--main-color);
  padding: 1em 3em;
}

.but-section {
  display: flex;
  gap: 0.8em;
  justify-content: center;
  padding: 1.5em 0;
}

.but-pro {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--main-color);
  cursor: pointer;
  padding: 0.5em 0;
  flex-basis: 6em;
}

.but-pro:hover {
  color: var(--backg-color);
  background-color: var(--main-color);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1rem;
  }

  .tags-project {
    font-size: 1rem;
  }

  .but-pro {
    font-size: 1.1rem;
    flex-basis: 7em;
  }
}

@media only screen and (min-width: 2000px) {
  .title {
    font-size: 1.8rem;
    padding-top: 1em;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  .description {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .tags-project {
    font-size: 1.3rem;
  }

  .but-pro {
    font-size: 1.4rem;
    flex-basis: 9em;
  }
}

@media only screen and (min-width: 3000px) {
  .title {
    font-size: 2.2rem;
    padding-top: 1em;
  }

  .subtitle {
    font-size: 2.1rem;
  }

  .description {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .tags-project {
    font-size: 1.6rem;
  }

  .but-pro {
    font-size: 1.7rem;
    flex-basis: 9em;
  }
}
